<html>
    <h1 align="center">Notre livre, notre média !</h1>

    <ul>
        <a href="ajoutlivre">Ajouter un livres</a> <br>
        <a href="ajoutdvd">Ajouter un dvd</a> <br>
        <a href="ajoutcd">Ajouter un CD</a> <br>
        <a href="ajoutplateau">Ajouter un plateau</a> <br> <br>
       <b> <a href="admin" >Panel administrateur</a> <br></b>
    <FONT SIZE=+3>Livres</FONT>
         {% for livre in livres %}
         <li> Livre : {{ livre.name }}  Auteur : {{ livre.auteur }} Disponible à l'emprunt : {{ livre.disponible }} </li>
         {% endfor %}
        <br>
    </ul>
    <FONT SIZE=+3>CD</FONT>
    <ul>
        {% for cd in cd %}
        <li> CD : {{ cd.name }} Artiste : {{ cd.artiste }} Disponible à l'emprunt : {{ cd.disponible }}</li>
        {% endfor %}
    </ul>
    <FONT SIZE=+3>DvD</FONT>

    <ul>

        {% for dvd in dvd %}
        <li>  DVD : {{ dvd.name }} Réalisateur : {{ dvd.realisateur }} Disponible : {{ dvd.disponible }}</li>
        {% endfor %}

    </ul>
    <ul>
    <FONT SIZE=+3>Plateaux</FONT>

        {% for plateau in creationPlateau %}
        <li>Plateau: {{ plateau.name }} - Créateur: {{ plateau.createur }}</li>
        {% endfor %}

    </ul>

</html>
